/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
  height: 100%;
  color: #f1ebd3;
  font-family: Oswald, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.sections {
  height: 100%;
}

.sections > section {
  display: block;
  min-height: 100%;
}

.sections > section p {
  margin: 0;
  padding: 20px 0;
}

#intro {
  display: table;
  width: 100%;
  background: url(../img/bg.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#intro h1 {
  display: table-cell;
  display: none;
  vertical-align: middle;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 58px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
  color: #f1ebd3;
}

#intro h1 .unit {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

body #intro h1 .end {
  opacity: 1;
}


@media only screen and (max-width: 320px) {

  #intro h1 {
    font-size: 38px;
  }

}

.sections > section > nav {
  display: block;
  display: none;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  border-top: 3px solid #f1ebd3;
  padding-bottom: 3px;
  width: 100%;
  text-align: center;
  box-shadow: -5px 0 10px rgba(0,0,0,0.5);
  transition: border 0.2s ease-in-out;
}

.sections > section > nav.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  background: #3b382f;
  border-top: 3px solid rgba(0,0,0,0);

}

.sections > section > nav ul {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.sections > section > nav ul li {
  display: inline-block;
}

.sections > section > nav ul li a {
  color: #f1ebd3;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: 300;
}

#bio {
  background: url(../img/lnh-01.jpg);
  background-size: cover;
  background-position: right center;
}

#bio .text {
  font-size: 24px;
  font-weight: 300;
  width: 320px;
  margin: 0 14%;
  padding: 104px 0;
  color: #111;
  text-shadow: none;
}

#bio .text .line{
  position: relative;
}

@media only screen and (orientation : portrait) {

  #bio {
    background: url(../img/lnh-01-portrait.jpg) right center;
  }

  #bio .text {
    margin: 0 auto;
    width: 280px;
    padding:  250px 0 0;

  }

  #bio .text .line {
    position: static;
  }

}

@media only screen and (min-width: 970px) {
  #bio .text {
    margin: 0 25%;
  }
}

#bio .text a.lang-toggle {
  color: #fff;
  text-shadow: 0 1px 1px #000;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 5px;
  margin-left: -5px;
}

#bio .text a.lang-toggle:hover {
  background: #000;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#music {
  position: relative;
  background: url(../img/lnh-03.jpg);
  background-size: cover;
}

#music nav {
  background: rgba(0,0,0,0.7);
}

#music h1 {
  margin: 0;
  padding: 40px 0;
  text-align: center;
}

#music h1 a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

@media only screen and (orientation: portrait) {
  #music {
    padding: 0;
  }

  #music h1 {
    margin: 0;
    font-size: 22px;
    line-height: 48px;
  }
}



#music .soundcloud {
  position: absolute;
  height: 404px;
  width: 640px;
  margin-top: -202px;
  margin-left: -320px;
  top: 50%;
  left: 50%;
  text-align: center;
}


@media only screen and (max-width: 640px) {

  #music {
    height: auto;
  }

  #music .soundcloud {
    position: static;
    margin: 0;
    width: 100%;
  }
}

#music .soundcloud iframe {
  position: relative;
  display: block;
  height: 404px;
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

@media only screen and (max-width: 320px) {

  #music .soundcloud {
    position: relative;
    height: 404px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    left: 0;
  }

}


#shows {
  position: relative;
  overflow: hidden;
  background: url(../img/lnh-04-landscape.jpg);
  background-size: cover;
}

#shows nav {
  background: rgba(0,0,0,0.7);
}

#shows .shows-list {
  position: relative;
  z-index: 1;
  padding: 80px;
  width: 280px;
}

#shows .shows-list .shadow {

  position: absolute;
  top: -30px;
  left: 10px;
  width: 330px;

  height: 150%;
  background: black;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
  opacity: 0.6;

}


@media only screen and (orientation: portrait) {

  #shows {
    background-position: center center;
  }

  #shows .shows-list {
    padding: 20px 0 20px;
    margin: 0 auto;
  }

  #shows .shows-list .shadow{
    top: -200px;
    left: -50px;
  }

}

#shows .shows-list .date {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

#shows h1 {
  margin: 0;
  font-weight: normal;
}

#shows .shows-list ul {
  list-style-type: none;
  padding-left: 0;
}

#shows .shows-list a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-left: -5px;
}

#shows .shows-list a:hover {
  color: #fff;
  background: #000;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#contact {
  position: relative;
  background: url(../img/lnh-05-landscape.jpg);
  background-size: cover;
}

#contact .text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -135px;
  width: 250px;
  height: 170px;
}

@media only screen and (orientation: portrait) {
  #contact {
    background: url(../img/lnh-05-portrait.jpg);
  }

}

#contact span {
  width: 80px;
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  margin-right: 10px;
}

#contact a {
  color: #fff;
  text-decoration: none;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
